
.icon-presentation-linear:before { content: '\e801'; } /* '' */
.icon-billboard-linear:before { content: '\e802'; } /* '' */
.icon-check-circle-linear:before { content: '\e803'; } /* '' */
.icon-edit-linear:before { content: '\e804'; } /* '' */
.icon-refresh:before { content: '\e805'; } /* '' */
.icon-add:before { content: '\e806'; } /* '' */
.icon-shield-warning-linear:before { content: '\e807'; } /* '' */
.icon-gallery-linear:before { content: '\e808'; } /* '' */
.icon-warning-circle-solid:before { content: '\e809'; } /* '' */
.icon-keyboard-linear:before { content: '\e80a'; } /* '' */
.icon-list-linear:before { content: '\e80b'; } /* '' */
.icon-clock-linear:before { content: '\e80c'; } /* '' */
.icon-flash-linear:before { content: '\e80d'; } /* '' */
.icon-draft-linear:before { content: '\e80e'; } /* '' */
.icon-scan-linear:before { content: '\e80f'; } /* '' */
.icon-gallery-off-linear:before { content: '\e810'; } /* '' */
.icon-image-upload-linear:before { content: '\e811'; } /* '' */
.icon-users-linear:before { content: '\e812'; } /* '' */
.icon-smile-linear:before { content: '\e813'; } /* '' */
.icon-hall-linear:before { content: '\e814'; } /* '' */
.icon-send-solid:before { content: '\e815'; } /* '' */
.icon-chat-linear:before { content: '\e816'; } /* '' */
.icon-double-arrow:before { content: '\e817'; } /* '' */
.icon-chevron-down:before { content: '\e818'; } /* '' */
.icon-basic-arrow-right:before { content: '\e819'; } /* '' */
.icon-swap-vert:before { content: '\e81a'; } /* '' */
.icon-swap-horiz:before { content: '\e81b'; } /* '' */
.icon-basic-arrow-left:before { content: '\e81c'; } /* '' */
.icon-basic-arrow-up-left:before { content: '\e81d'; } /* '' */
.icon-chevron-up:before { content: '\e81e'; } /* '' */
.icon-arrow-left:before { content: '\e81f'; } /* '' */
.icon-chat-off-linear:before { content: '\e820'; } /* '' */
.icon-star-linear:before { content: '\e821'; } /* '' */
.icon-star-off-linear:before { content: '\e822'; } /* '' */
.icon-clock-solid:before { content: '\e823'; } /* '' */
.icon-more-arrow:before { content: '\e824'; } /* '' */
.icon-info-circle-linear:before { content: '\e825'; } /* '' */
.icon-flag-linear:before { content: '\e826'; } /* '' */
.icon-pin-solid:before { content: '\e827'; } /* '' */
.icon-pin-top-linear:before { content: '\e828'; } /* '' */
.icon-eye-linear:before { content: '\e829'; } /* '' */
.icon-heart-linear:before { content: '\e82a'; } /* '' */
.icon-pin-off-linear:before { content: '\e82b'; } /* '' */
.icon-warning-solid:before { content: '\e859'; } /* '' */
.icon-star-solid:before { content: '\e85a'; } /* '' */
.icon-messages-linear:before { content: '\e865'; } /* '' */
.icon-lazy-text-linear:before { content: '\e866'; } /* '' */
.icon-arrow-down:before { content: '\e867'; } /* '' */
.icon-enter:before { content: '\e86c'; } /* '' */
.icon-download:before { content: '\e86e'; } /* '' */
.icon-camera-linear:before { content: '\e86f'; } /* '' */
.icon-reply:before { content: '\e870'; } /* '' */
.icon-video-linear:before { content: '\e874'; } /* '' */
.icon-chevron-left:before { content: '\e875'; } /* '' */
.icon-chevron-right:before { content: '\e876'; } /* '' */
.icon-arrow-up:before { content: '\e877'; } /* '' */
.icon-arrow-right:before { content: '\e879'; } /* '' */
.icon-lazy-text-solid:before { content: '\e87a'; } /* '' */
.icon-send-linear:before { content: '\e87c'; } /* '' */
.icon-check:before { content: '\e885'; } /* '' */
.icon-check-circle-solid:before { content: '\e886'; } /* '' */
.icon-tips-circle-linear:before { content: '\e888'; } /* '' */
.icon-info-circle-solid:before { content: '\e88a'; } /* '' */
.icon-search:before { content: '\e88b'; } /* '' */
.icon-copy-linear:before { content: '\e88c'; } /* '' */
.icon-setting-linear:before { content: '\e890'; } /* '' */
.icon-filter:before { content: '\e891'; } /* '' */
.icon-menu:before { content: '\e892'; } /* '' */
.icon-more:before { content: '\e893'; } /* '' */
.icon-file-linear:before { content: '\e894'; } /* '' */
.icon-heart-solid:before { content: '\e895'; } /* '' */
.icon-eye-solid:before { content: '\e896'; } /* '' */
.icon-delete-linear:before { content: '\e897'; } /* '' */
.icon-tag-linear:before { content: '\e898'; } /* '' */
.icon-eye-off-solid:before { content: '\e899'; } /* '' */
.icon-eye-off-linear:before { content: '\e89a'; } /* '' */
.icon-heart-off-linear:before { content: '\e89d'; } /* '' */
.icon-pin-top-solid:before { content: '\e89e'; } /* '' */
.icon-pin-off-solid:before { content: '\e89f'; } /* '' */
.icon-pin-linear:before { content: '\e8a1'; } /* '' */
.icon-close-circle-solid:before { content: '\e8a2'; } /* '' */
.icon-close-circle-linear:before { content: '\e8a3'; } /* '' */
.icon-minus:before { content: '\e8a4'; } /* '' */
.icon-bell-linear:before { content: '\e8a5'; } /* '' */
.icon-bell-off-linear:before { content: '\e8a6'; } /* '' */
.icon-add-circle-linear:before { content: '\e8a7'; } /* '' */
.icon-close:before { content: '\e8a8'; } /* '' */
